<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springsecuritybase.modules.System.menu.mapper.MenuMapper">

    <select id="getList" resultType="com.example.springsecuritybase.modules.System.menu.model.eneities.Menu">
        select *
        from sys_menu
        <where>
            <if test="dto.name!= null and dto.name!= ''">
                and name like concat('%', #{dto.name}, '%')
            </if>
            <if test="dto.type != null and dto.type != ''">
                and type = #{dto.type}
            </if>
            <if test="dto.display != null">
                and display = #{dto.display}
            </if>
        </where>
    </select>
</mapper>